@media (max-width: 1920px) and (max-height: 1080px) {
  .background-clouds__first-layer {
    background-position: top center, -620px -180px, 767px -324px, -408px 97px,
      -289px 534px, 410px 549px, 796px 486px, 1012px 557px;
  }
  .background-clouds__second-layer {
    background-position: 32px 23px, 316px 332px, 283px 292px;
  }

  .text_small {
    font-size: 33px;
  }

  .logo_darkGrey-img {
    width: 300.4px;
    height: 50.09px;
  }

  .burger {
    top: 28px;
    width: 40.62px;
    height: 35.97px;
  }

  .main-title {
    font-size: 65px;
  }

  .H__hero__action-wrapper {
    bottom: -5px;
  }

  .promocode-btn-wrapper {
    transform: translateY(-60px);
    .promocode__link-text {
      font-size: 28px;
    }
    .arrow-right {
      width: 55.37px;
      height: 11px;
    }
  }

  .H__section-hero {
    .H__hero__rect-container {
      top: 20%;
      height: 300px;
      .react {
        width: 20px;
      }
      .active {
        border-bottom: 3px solid black;
        .rect__count {
          font-size: 35px;
        }
      }
    }
  }

  .H__hero__action-wrapper {
    .arrow-down {
      height: 90px;
      width: 30.41px;
      transform: translateX(14px);
    }
  }

  .H__hero__home-link {
    top: 40%;
  }

  .slider {
    .slider-button {
      width: 80px;
      height: 80px;
    }
    .slider__counter-wrapper {
      bottom: 69%;
      width: 80px;
      height: 80px;
      .slider__counter-child {
        font-size: 27px;
      }
    }
    .slider-item-container {
      .all-pages {
        .slider-item {
          height: 766px;
          .slider__image-wrapper {
            bottom: -18px;
            left: 37%;
            .racer {
              width: 414.13px;
              height: 600px;
            }
          }
          .slider__description {
            bottom: 82px;
            font-size: 30px;
            line-height: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 1366px) and (max-height: 1024px) {
  .main-title {
    font-size: 50px;
  }

  .text_small {
    font-size: 27px;
  }

  .logo_darkGrey-img {
    width: 245.4px;
    height: 35.09px;
  }

  .burger {
    width: 34.62px;
    height: 30.97px;
  }

  .promocode-btn-wrapper {
    transform: translateY(-44px);
    .promocode__link-text {
      font-size: 23px;
    }
    .arrow-right {
      width: 55.37px;
      height: 11px;
    }
  }

  .H__section-hero {
    .H__hero__rect-container {
      top: 20%;
      height: 230px;
      .react {
        width: 20px;
      }
      .active {
        border-bottom: 3px solid black;
        .rect__count {
          font-size: 27px;
          margin-right: 27px;
        }
      }
    }
  }

  .slider {
    .slider-button {
      width: 70px;
      height: 70px;
      bottom: 50%;
    }
    .slider-button-left {
      left: 15%;
    }
    .slider-button-right {
      right: 15%;
    }
    .slider__counter-wrapper {
      bottom: 69%;
      width: 66px;
      height: 66px;
      .slider__counter-child {
        font-size: 22px;
      }
    }
    .slider-item-container {
      .all-pages {
        .slider-item {
          height: 755px;
          .slider__image-wrapper {
            left: 33%;
          }
          .slider__description {
            width: 81%;
            bottom: 82px;
            font-size: 29px;
            line-height: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) and (max-height: 500px) {
  .background-clouds__first-layer {
    background-position: top center, -119px -111px, 330px -163px, -111px 27px,
      -88px 254px, 94px 223px, 151px 237px, 452px 241px;
  }
  .background-clouds__second-layer {
    background-position: 43px 35px, 241px 132px, 264px 206px;
  }

  .logo_darkGrey-img {
    width: 155.4px;
    height: 25.09px;
  }

  .text_small {
    font-size: 15px;
  }

  .burger {
    top: 15px;
    width: 22.62px;
    height: 20.97px;
  }

  .H__hero__action-wrapper {
    .arrow-down {
      margin-top: 3px;
      height: 39px;
      width: 9.41px;
      transform: translateX(5px);
    }
  }

  .H__section-hero {
    .H__hero__title {
      margin: 10px 0;
      font-size: 30px;
    }
    .H__hero__rect-container {
      top: 20%;
      height: 111px;
      .active {
        .rect__count {
          font-size: 16px;
          margin-right: 16px;
        }
        border-bottom: 2px solid black;
        padding: 3px 0;
      }
    }
  }

  .promocode-btn-wrapper {
    transform: translateY(-36px);
    .promocode__link-text {
      font-size: 12px;
    }
    .arrow-right {
      width: 30.37px;
      height: 5px;
    }
  }

  .slider {
    .slider-button {
      width: 40px;
      height: 40px;
      bottom: 50%;
    }
    .slider__counter-wrapper {
      bottom: 66%;
      width: 36px;
      height: 36px;
      .slider__counter-child {
        font-size: 11px;
        transform: translateY(2px);
      }
    }
    .slider-item-container {
      .all-pages {
        .slider-item {
          height: 330px;
          .slider__image-wrapper {
            bottom: -18px;
            left: 37%;
            .racer {
              width: 237.13px;
              height: 272px;
            }
          }
          .slider__description {
            width: 68%;
            bottom: 41px;
            font-size: 16px;
            line-height: 21px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) and (max-height: 1024px) {
  .background-clouds__first-layer {
    background-position: top center, 67px 0px, -584px -419px, 140px 199px,
      -217px 574px, 402px 557px, -232px 472px, 91px 565px;
  }
  .background-clouds__second-layer {
    background-position: -59px 151px, 354px 343px, -25px 307px;
  }

  .text_small {
    font-size: 24px;
  }

  .H__section-hero {
    .H__hero__title {
      margin: 10px 0;
      font-size: 41px;
    }
    .H__hero__rect-container {
      top: 20%;
      height: 160px;
      .active {
        .rect__count {
          font-size: 26px;
          margin-right: 16px;
        }
      }
    }
  }

  .H__hero__action-wrapper {
    bottom: -85px;
    .arrow-down {
      height: 77px;
      width: 20.41px;
      transform: translateX(9px);
    }
  }

  .burger {
    top: 16px;
  }

  .main-title {
    font-size: 38px;
  }

  .logo_darkGrey-img {
    width: 228.4px;
    height: 37.09px;
    transform: translateX(18px);
  }

  .slider {
    .slider-button {
      width: 57px;
      height: 56px;
      bottom: 50%;
    }
    .slider__counter-wrapper {
      bottom: 74%;
      left: 49%;
      width: 55px;
      height: 55px;
    }
    .slider-item-container {
      .all-pages {
        .slider-item {
          height: 760px;
          .slider__description {
            font-size: 19px;
            line-height: 30px;
          }
          .slider__image-wrapper {
            left: 27%;
            .racer {
              width: 336.13px;
              height: 589px;
            }
          }
        }
      }
    }
  }

  .promocode-btn-wrapper {
    .promocode__link-text {
      font-size: 16px;
    }
    .arrow-right {
      width: 38.37px;
      height: 6px;
      margin-left: 5px;
    }
  }
}

@media (max-width: 768px) and (max-height: 1024px) {
  .background-clouds__first-layer {
    background-position: top center, 67px 0px, -584px -419px, 140px 199px,
      -217px 574px, 215px 557px, -167px 426px, 179px 467px;
  }

  .H__hero__action-wrapper {
    bottom: 14px;
  }

  .text_small {
    font-size: 18px;
  }

  .H__section-hero {
    .H__hero__title {
      font-size: 31px;
    }
    .H__hero__rect-container {
      height: 100px;
      .active {
        padding: 7px 0;
        border-bottom: 2px solid black;
        .rect__count {
          font-size: 20px;
          margin-right: 14px;
        }
        .rect__text {
          margin-top: 3px;
        }
      }
    }
  }

  .slider {
    .slider__counter-wrapper {
      bottom: 69%;
      width: 45px;
      height: 45px;
      .slider__counter-child {
        font-size: 17px;
      }
    }
    .slider-item-container {
      .all-pages {
        .slider-item {
          height: 630px;
          .slider__image-wrapper {
            left: 25%;
            .racer {
              width: 290.13px;
              height: 497px;
            }
          }
          .slider__description {
            font-size: 17px;
            line-height: 34px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) and (max-height: 1024px) {
  .background-clouds__first-layer {
    background-position: top center, -76px 1px, 39px 6px, 74px 281px, -7px 617px,
      86px 553px, -94px 550px, 91px 442px;
  }
  .background-clouds__second-layer {
    background-position: -95px 205px, 154px 332px, -25px 249px;
  }

  .text_small {
    font-size: 15px;
  }

  .H__section-hero {
    .H__hero__title {
      line-height: 44px;
      font-size: 34px;
    }
    .H__hero__rect-container {
      top: 30%;
      .active {
        padding: 5px 0;
        .rect__text {
          margin-top: 3px;
        }
        .rect__count {
          font-size: 17px;
          margin-right: 10px;
        }
      }
    }
  }

  .H__hero__action-wrapper {
    bottom: -20px;
    .arrow-down {
      margin-top: 0px;
      height: 58px;
      width: 15.41px;
      transform: translateX(4px);
    }
  }

  .promocode-btn-wrapper {
    padding: 21px 28px 17px 60px;
    transform: translateY(-12px);
  }

  .slider {
    .slider__counter-wrapper {
      left: 44%;
      bottom: 68%;
      width: 40px;
      height: 40px;
      .slider__counter-child {
        font-size: 15px;
      }
    }
    .slider-item-container {
      .all-pages {
        .slider-item {
          height: 555px;
          .slider__description {
            font-size: 17px;
            line-height: 29px;
            width: 90%;
            bottom: 36px;
          }
          .slider__image-wrapper {
            left: 13%;
            .racer {
              width: 238.13px;
              height: 451px;
            }
          }
        }
      }
    }
  }
}
