@media (max-width: 900px) and (max-height: 500px) {
  .background-clouds__first-layer {
    background-position: top center, -119px -111px, 330px -163px, -111px 27px,
      -88px 254px, 94px 223px, 151px 237px, 452px 241px;
  }
  .background-clouds__second-layer {
    background-position: 43px 35px, 241px 132px, 264px 206px;
  }

  .logo_darkGrey-img {
    width: 155.4px;
    height: 25.09px;
  }

  .text_small {
    font-size: 15px;
  }

  .burger {
    top: 15px;
    width: 22.62px;
    height: 20.97px;
  }

  .H__hero__action-wrapper {
    .arrow-down {
      margin-top: 3px;
      height: 39px;
      width: 9.41px;
      transform: translateX(5px);
    }
  }

  .H__section-hero {
    .H__hero__title {
      margin: 10px 0;
      font-size: 30px;
    }
    .H__hero__rect-container {
      top: 20%;
      height: 111px;
      .active {
        .rect__count {
          font-size: 16px;
          margin-right: 16px;
        }
        border-bottom: 2px solid black;
        padding: 3px 0;
      }
    }
  }

  .promocode-btn-wrapper {
    transform: translateY(-36px);
    .promocode__link-text {
      font-size: 12px;
    }
    .arrow-right {
      width: 30.37px;
      height: 5px;
    }
  }

  .slider {
    .slider-button {
      width: 40px;
      height: 40px;
      bottom: 50%;
    }
    .slider__counter-wrapper {
      bottom: 66%;
      width: 36px;
      height: 36px;
      .slider__counter-child {
        font-size: 11px;
        transform: translateY(2px);
      }
    }
    .slider-item-container {
      .slider-window {
        .slider-item {
          height: 330px;
          .slider__image-wrapper {
            bottom: -18px;
            left: 37%;
            .racer {
              width: 237.13px;
              height: 272px;
            }
          }
          .slider__description {
            width: 68%;
            bottom: 41px;
            font-size: 16px;
            line-height: 21px;
          }
        }
      }
    }
  }
}


